*{
margin: 0;
box-sizing: border-box;

}


h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
.capitalize{
    text-transform: capitalize;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}


.formTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.studentsList{

    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin-bottom: 1rem;
}